.primary-nav {
   

    ul {
        padding: 0;
        margin: 0;
        @mixin clearfix;
    }

    li {
        float: left;
        list-style: none;
        padding-right: 20px;
        
    }

    a {
        text-decoration: none;
        color: #fff;
        font-weight: 300;
        padding: 10px 0;
        display: block;
        
    }
    
    &--pull-right {
        float: right;
    }
}